<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Id="PowerLab.DataMigrator" 
		   Name="PowerLab.DataMigrator.MSI" 
		   Manufacturer="Suencesoft" 
		   Codepage="65001"
		   Version="1.0.0.0"
		   Scope="perMachine"
		   UpgradeCode="61AE8CCC-20A7-4B74-9DBC-982B1726C138">
	  <MajorUpgrade DowngradeErrorMessage="不允许降级安装" />

	  <MediaTemplate EmbedCab="yes"/>

    <Feature Id="Main">
      <ComponentGroupRef Id="DataMigratorComponents" />
    </Feature>
  </Package>
</Wix>
