<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<Icon Id="PowerLab.ico" SourceFile="Assets/Icons/PowerLab.ico"/>
		<ComponentGroup Id="PowerLabLauncherComponents" Directory="INSTALLFOLDER">
			<Component Id="FilesComponent" Guid="D408AB1D-73DB-4E57-91CD-D3260515D2ED">
				<File Source="$(var.PowerLab.Launcher.TargetFileName)" />
			</Component>

			<Component Id="AppRegistryComponents" Guid="*">
				<RegistryValue Root="HKLM"
						   Key="Software\PowerLab"
						   Name="LauncherPath"
						   Type="string"
						   Value="[INSTALLFOLDER]$(var.PowerLab.Launcher.TargetFileName)"
						   KeyPath="yes"/>
				<RegistryValue Root="HKLM"
						   Key="Software\PowerLab"
						   Name="CurrentVersion"
						   Type="string"
						   Value="$(var.BundleVersion)"/>
				<RegistryValue Root="HKLM"
							   Key="Software\PowerLab"
							   Name="InstallPath"
							   Type="string"
							   Value="[INSTALLFOLDER]"/>
			</Component>
		</ComponentGroup>

		<Component Id="DesktopShortcutComponent" Guid="*">
			<Shortcut Id="DesktopShortcut"
					  Directory="DesktopFolder"
					  Name="PowerLab"
					  Target="[INSTALLFOLDER]$(var.PowerLab.Launcher.TargetFileName)"
					  WorkingDirectory="INSTALLFOLDER"
					  Icon="PowerLab.ico"
					  Advertise="no" />
			<RegistryValue Root="HKCU"
						   Key="Software\PowerLab"
						   Name="DesktopShortcutInstalled"
						   Type="string"
						   Value="1"
						   KeyPath="yes"/>
		</Component>

		<!-- 开始菜单快捷方式 -->
		<Component Id="StartMenuShortcutComponent" Guid="*" Directory="ProductMenuFolder" >
			<Shortcut Id="StartMenuShortcut"
					  Name="PowerLab"
					  Icon="PowerLab.ico"
					  Advertise="no"
					  Description="PowerLab by Suencesoft"
					  Target="[INSTALLFOLDER]$(var.PowerLab.Launcher.TargetFileName)"
					  WorkingDirectory="INSTALLFOLDER"/>
			<Shortcut Id="StartMenuUninstallShortcut"
					  Name="卸载 PowerLab"
				      Description="卸载 PowerLab"
					  Target="[UNINSTALLER_PATH]"
					  Arguments="/uninstall"
					  WorkingDirectory="ProgramMenuFolder" />

			<RemoveFolder Id="RemoveProductFolder" On="uninstall" Directory="ProductMenuFolder"/>
			<RegistryValue Root="HKCU"
						   Key="Software\PowerLab"
						   Name="StartMenuShortcutInstalled"
						   Type="string"
						   Value="1"
						   KeyPath="yes"/>
		</Component>

		<!-- 开机自启 -->
		<Component Id="RunAtBootComponent" Guid="*">
			<RegistryValue
				Root="HKLM"
				Key="Software\Microsoft\Windows\CurrentVersion\Run"
				Name="PowerLab"
				Value="&quot;[INSTALLFOLDER]$(var.PowerLab.Launcher.TargetFileName)&quot; -hide"
				Type="string"
				KeyPath="yes" />
		</Component>

		<!-- 清理开机自启注册表项 -->
		<Binary Id="PLInstallerCADll" SourceFile="PowerLabInstaller.CustomAction.CA.dll" />

		<CustomAction Id="CleanRunAtBootRegistry"
					  BinaryRef="PLInstallerCADll"
					  DllEntry="RemoveRunAtBootRegistry"
					  Execute="deferred"
					  Impersonate="no"
					  Return="ignore" />
	</Fragment>
</Wix>
