<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
	 xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
	
	<Bundle Name="PowerLab"
			Manufacturer="Suencesoft"
			Version="$(var.BundleVersion)"
			IconSourceFile="Assets/Icons/PowerLab.ico"
			UpgradeCode="73725F25-4E6A-4817-B1EC-69A577E59D25">
		
		<BootstrapperApplication Secondary="true" SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)PowerLab.Installer.Bootstrapper.exe">
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)mbanative.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)PowerLab.Installer.Bootstrapper.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)DryIoc.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)Microsoft.WindowsAPICodePack.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)Microsoft.WindowsAPICodePack.Shell.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)Microsoft.Xaml.Behaviors.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)Prism.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)Prism.DryIoc.Wpf.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)Prism.Wpf.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)PowerLab.Controls.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)PowerLab.Themes.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)PowerLab.PluginContracts.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)PowerLab.UIToolkit.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)WixToolset.BootstrapperApplicationApi.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)PowerLab.Installer.Bootstrapper.runtimeconfig.json" />

			<bal:WixPrerequisiteBootstrapperApplication Theme="standard" LogoFile="Assets/Icons/PowerLab.ico" LocalizationFile="Strings/zh-cn.wxl"/>
		</BootstrapperApplication>

		<netfx:DotNetCoreSearch
			RuntimeType="desktop"
			MajorVersion="10"
			Platform="x64"
			Variable="DOTNETDESKTOPVERSION" />

		<Variable Name="InstallFolder" Type="string" Value="[ProgramFiles6432Folder]PowerLab" />
		<ApprovedExeForElevation Id="LaunchMainApp" Key="Software\PowerLab" Value="InstallPath" />
		
		<Chain DisableSystemRestore="yes">

			<!-- Permanent: 永久(卸载时保留) or 指定卸载参数 UninstallArguments="/uninstall /quiet /norestart" -->
			<ExePackage Id="DotNetDesktop"
						DetectCondition="DOTNETDESKTOPVERSION &gt;= &quot;10.0.0&quot;"
						Permanent="yes"
						Vital="no"
						RepairCondition="DOTNETDESKTOPVERSION &lt; &quot;10.0.0&quot;"
						bal:PrereqLicenseUrl="https://dotnet.microsoft.com"
						bal:PrereqPackage="yes"
						InstallArguments="windowsdesktop-runtime-10.0.0-win-x64.exe /install /quiet /norestart"
						RepairArguments="windowsdesktop-runtime-10.0.0-win-x64.exe /repair /quiet /norestart"
						UninstallArguments="windowsdesktop-runtime-10.0.0-win-x64.exe /uninstall /quiet /norestart">
				<ExePackagePayload Name="windowsdesktop-runtime-10.0.0-win-x64.exe" SourceFile="ExePackageFiles/windowsdesktop-runtime-10.0.0-win-x64.exe" />
			</ExePackage>
			
			<!-- PowerLab -->
			<MsiPackage Id="PowerLabInstallerMSI"
						Visible="no"
						Compressed="yes"
						EnableFeatureSelection="yes"
						SourceFile="PowerLab.Installer.MSI.msi">
				<MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]"/>
				<MsiProperty Name="UNINSTALLER_PATH" Value="[UNINSTALLER_PATH]"/>
			</MsiPackage>

			<!-- Plugin Installer -->
			<MsiPackage Id="PluginInstallerMSI"
						Visible="no"
						Compressed="yes"
						SourceFile="PowerLab.PluginInstaller.MSI.msi">
				<MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]"/>
			</MsiPackage>

			<!-- Data Migrator -->
			<MsiPackage Id="PowerLabDataMigratorMsi"
						Visible="no"
						Compressed="yes"
						SourceFile="PowerLab.DataMigrator.MSI.msi">
				<MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]"/>
			</MsiPackage>

			<!-- Updater Service -->
			<MsiPackage Id="PowerLabUpdaterServiceMsi"
						Visible="no"
						Compressed="yes"
						SourceFile="PowerLab.UpdaterService.MSI.msi">
				<MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]"/>
			</MsiPackage>

			<!-- Launcher Service -->
			<MsiPackage Id="PowerLabLauncherServiceMsi"
						Visible="no"
						Compressed="yes"
						SourceFile="PowerLab.LauncherService.MSI.msi">
				<MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]"/>
			</MsiPackage>
		</Chain>
	</Bundle>
</Wix>
