<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
	 xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
	<Bundle Name="PowerLab"
			Manufacturer="Suencesoft"
			Version="1.1.10.0"
			IconSourceFile="Assets/Icons/PowerLab.ico"
			UpgradeCode="73725F25-4E6A-4817-B1EC-69A577E59D25">
		<!--<BootstrapperApplication>
			<bal:WixStandardBootstrapperApplication LicenseUrl="https://www.example.com/license" Theme="hyperlinkLicense" />
		</BootstrapperApplication>-->

		<BootstrapperApplication Secondary="true" SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)PowerLab.Installer.Bootstrapper.exe">
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)runtimes/win-x64/native/mbanative.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)PowerLab.Installer.Bootstrapper.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)DryIoc.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)Microsoft.WindowsAPICodePack.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)Microsoft.WindowsAPICodePack.Shell.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)Microsoft.Xaml.Behaviors.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)Prism.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)Prism.DryIoc.Wpf.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)Prism.Wpf.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)PowerLab.Controls.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)PowerLab.Themes.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)WixToolset.BootstrapperApplicationApi.dll" />
			<Payload SourceFile="$(PowerLab.Installer.Bootstrapper.TargetDir)PowerLab.Installer.Bootstrapper.runtimeconfig.json" />

			<bal:WixPrerequisiteBootstrapperApplication Theme="standard" LogoFile="Assets/Icons/PowerLab.ico" LocalizationFile="Strings/zh-cn.wxl"/>
		</BootstrapperApplication>

		<!-- 自动检测 .NET 8 Desktop Runtime -->
		<netfx:DotNetCoreSearch
			RuntimeType="desktop"
			MajorVersion="8"
			Platform="x64"
			Variable="DOTNETDESKTOPVERSION" />

		<Chain DisableSystemRestore="yes">

			<!-- Permanent: 永久(卸载时保留) or 指定卸载参数 UninstallArguments="/uninstall /quiet /norestart" -->
			<ExePackage Id="DotNetDesktop"
						DetectCondition="DOTNETDESKTOPVERSION &gt;= &quot;8.0.1&quot;"
						Permanent="yes"
						Vital="no"
						RepairCondition="DOTNETDESKTOPVERSION &lt; &quot;8.0.1&quot;"
						bal:PrereqLicenseUrl="https://dotnet.microsoft.com"
						bal:PrereqPackage="yes"
						InstallArguments="windowsdesktop-runtime-8.0.18-win-x64.exe /install /quiet /norestart"
						RepairArguments="windowsdesktop-runtime-8.0.18-win-x64.exe /repair /quiet /norestart"
						UninstallArguments="windowsdesktop-runtime-8.0.18-win-x64.exe /uninstall /quiet /norestart">
				<ExePackagePayload Name="windowsdesktop-runtime-8.0.18-win-x64.exe" SourceFile="ExePackageFiles/windowsdesktop-runtime-8.0.18-win-x64.exe" />
			</ExePackage>

			<MsiPackage Id="PowerLabInstallerMSI"
						Visible="no"
						Compressed="yes"
						EnableFeatureSelection="yes"
						SourceFile="PowerLab.Installer.MSI.msi">
				<MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]"/>
				<MsiProperty Name="UNINSTALLER_PATH" Value="[UNINSTALLER_PATH]"/>
			</MsiPackage>

			<MsiPackage Id="PluginInstallerMSI"
						Visible="no"
						Compressed="yes"
						EnableFeatureSelection="yes"
						SourceFile="PowerLab.PluginInstaller.MSI.msi">
				<MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]"/>
			</MsiPackage>
		</Chain>
	</Bundle>
</Wix>
