<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="FileComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent" Guid="F2F37407-114F-4E5E-8B26-5872152FD721">
				<File Id="PluginInstallerExecutable" Source="PluginInstaller.exe" />
				<File Source="PluginInstaller.dll" />
				<File Source="PluginInstaller.runtimeconfig.json" />
				<File Source="PluginInstaller.deps.json" />
			</Component>
		</ComponentGroup>

		<Component Id="FileAssociations" Guid="F850DAE9-1CA8-4529-BDA4-461C4FFFEA9E">
			<File Id="AuraEchoIcon" Source="Assets/Icons/AuraEcho.ico" />
			<ProgId Id="Suence.Plix" Description="AuraEcho plugin file" Icon="AuraEchoIcon">
				<Extension Id="plix" ContentType="application/plix" >
					<Verb Id="open" Command="Open" TargetFile="PluginInstallerExecutable" Argument="&quot;%1&quot;" />
				</Extension>
			</ProgId>
		</Component>
	</Fragment>
</Wix>
