<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="PowerLab.LauncherService"
			 Manufacturer="Suencesoft"
			 Version="$(var.Version)"
			 Codepage="65001"
			 Scope="perMachine"
			 UpgradeCode="E8B5113B-E07E-4001-868B-426F50BA7D2A">
		<MajorUpgrade DowngradeErrorMessage="不允许降级安装" />

		<Feature Id="Main">
			<ComponentGroupRef Id="FileComponents" />
		</Feature>
	</Package>
</Wix>

