<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util" >
  <Package Id="TODO_Manufacturer.PowerLab.Installer.MSI" 
		   Name="PowerLab.Installer.MSI" 
		   Manufacturer="SUENCE" 
		   Version="1.0.0.0">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
	  <Launch Condition="MsiNTProductType = 1" Message="TODO Wrong OS type! TODO" />
	  <MediaTemplate EmbedCab="yes"/>
    <Feature Id="Main">
      <ComponentGroupRef Id="AppComponents" />
    </Feature>
  </Package>
</Wix>
