<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Fragment>
		<ComponentGroup Id="AppFileComponents" Directory="INSTALLFOLDER" >
			<Component Id="MainFile" Guid="F2F37407-114F-4E5E-8B26-5872152FD721">
				<File Id="PowerLab.exe" Source="$(var.PowerLab.TargetDir)PowerLab.exe" />
				<RegistryValue Root="HKLM"
							   Key="Software\PowerLab"
							   Name="AppPath"
							   Type="string"
							   Value="[#PowerLab.exe]"
							   KeyPath="yes"/>
			</Component>

			<Files Include="$(var.PowerLab.TargetDir)**">
				<Exclude Files="*.pdb"/>
				<Exclude Files="PowerLab.exe"/>

				<Exclude Files="zh-Hans\Microsoft.CodeAnalysis*"/>

				<Exclude Files="Humanizer.dll"/>
				<Exclude Files="Microsoft.CodeAnalysis.dll"/>
				<Exclude Files="Microsoft.Bcl.AsyncInterfaces.dll"/>
				<Exclude Files="Microsoft.Build.Locator.dll"/>
				<Exclude Files="Microsoft.CodeAnalysis.*.dll"/>
				<Exclude Files="Microsoft.EntityFrameworkCore.Design.dll"/>
				<Exclude Files="Mono.TextTemplating.dll"/>
				<Exclude Files="System.Composition.*.dll"/>
			</Files>
			
		</ComponentGroup>
	</Fragment>
</Wix>
