<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="AuraEchoLauncherService"
			 Manufacturer="Suencesoft"
			 Version="$(var.Version)"
			 Codepage="65001"
			 Scope="perMachine"
			 UpgradeCode="E8B5113B-E07E-4001-868B-426F50BA7D2A">
		
		<!-- 指定 Cab 文件名称用于解决与其他 Msi 包的 Cab 名称冲突-->
		<MediaTemplate EmbedCab="yes" CabinetTemplate="lnch_{0}.cab" />
		
		<MajorUpgrade DowngradeErrorMessage="不允许降级安装" />

		<Feature Id="Main">
			<ComponentGroupRef Id="LauncherServiceFileComponents" />
		</Feature>
	</Package>
</Wix>

